body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EEE5E9;
    margin: 0pt;
}

a {
    color: black;
}

header {
    text-align: left;
    background-color: #e0dd33;
    padding: 8%;
}

.index-h2 {
    margin: 10pt;
    text-align: center;
}

.index-h3 {
    margin: 10pt;
    padding: 50px;
    font-style: italic;
    text-align: center;
    border: solid black 2pt;
    border-radius: 100pt;
    background-color: #EAF6FF;
}

#person {
    font-size: 18pt;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#joke {
    background-color: #46581d;
    padding-bottom: 100%;
}
/*the two below arent working*/
.about-column {
    float: left;
    width: 50%;
    padding: 5px;
}

.about-row:after {
    content: "";
    clear: both;
    display: table;
}
