body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0dd33;
    margin: 0pt;
}

a {
    color: black;
}

header {
    text-align: left;
    background-color: #e0dd33;
    padding: 8%;
}

.index-h2 {
    margin: 10pt;
    text-align: center;
}

.index-h3 {
    margin: 10pt;
    padding: 50px;
    font-style: italic;
    text-align: center;
    border: solid black 2pt;
    border-radius: 100pt;
    background-color: #EAF6FF;
}

.row {
    display: flex;
    flex-direction: row;
    size: 100vh;
}

.column {
    flex: 50%;
}

#joke {
    background-color: #46581d;
}

footer {
    text-align: center;
    padding: 10px;
}

.portfolio-h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2%;
}

.about-row {
    margin: 5%;
}

.img {
    max-width: 100%;
}

#contact-h3 {
    text-align: center;
    padding: 5%;
}

article {
    text-align: center;
    padding: 0% 15% 5% 15%;
}

@media screen and (max-width: 700px) {
    header {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
